<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abc</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    check abcd
    <div>
        <img class="hinhanh3" src="/images/2.jpg" />
    </div>
</body>

</html>